<div class="container">
 <div class="row">
  <div class= "col-sm-12 px-5 px-sm-0">
    <h1 class="pt-3">Editing Book</h1>
    
    <% if @book.errors.any? %>
    <%= @book.errors.count %>error prohibited this obj from being saved:
    <ul>
    <% @book.errors.full_messages.each do|message| %>
    <li><%=message %></li>
    <% end %>
   </ul>
   <% end %>

<%= form_with model:@book do |f| %>
 
    <p><label for="inputTitle">Title</label></p>
    <p><%= f.text_field :title, autofocus:true, id:"inputTitle" %></p>

    <p><label for="inputBody">Opinion</label></p>
    <p><%= f.text_area :body, autofocus:true, id:"inputBody" %></p>
 
 
    <p><%= f.submit "Update Book",class: "btn btn-success"%></p>
 
<% end %>

   <p><%= link_to "Show", book_path %> | <%= link_to "Back", books_path %></p>
    </div>
 </div>
</div>