
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-3">
      <%= render 'list', user: @user, book: @book %>
    </div>
    <div class="col-6 offset-1">
      <p></p>
      <h1>Book detail</h1>
      <div class = "body-text-small">
      <table>
       <tbody>
        <tr>
         <th><%= image_tag @book_find.user.get_profile_image(100,100) %><br>
         <%= link_to @book_find.user.name, users_path(@book_find.user.id) %></th>
        <!--ここに投稿者のプロフィール画像と名前を表示させたい-->
        <th><%= link_to @book_find.title,book_path %></th>
        <th><%= @book_find.body %></th>
        <th><% if @book_find.user == current_user %>
        <th><%= link_to "Edit",edit_book_path %></th>
        <th><%= link_to "削除", book_path, method: :delete , "data-confirm" => "本当に消しますか?" %></th>
          <% end %></th>
       </tr>
     </tbody>
    </table>
    </div>
    </div>
  </div>
</div>
