<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/76f4db3613.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!--↑AIにcssと繋ぐ方法を教えてもらった結果-->
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

          <div class="header-left">
           <li class="nav-item mr-auto">
            <span><%= link_to "Bookers", root_path %></span>
          </div>
          <ul class="navbar-nav ml-auto">   <!--横並びになった-->
          <% if user_signed_in? %>
           <li class="nav-item">
            <%= link_to user_path(current_user.id), class:"icon" do %>    <!--link_to do の間はURLのみ！！-->
            <i class="fa-solid fa-house icon"></i>Home
            <% end %>
           </li>
           <li class="nav-item">
            <%= link_to users_path, class:"icon" do  %>
            <i class="fa-solid fa-users icon"></i>Users
            <% end %>
           </li>
            <li class="nav-item">
           <%= link_to  books_path, class:"icon" do %>
            <i class="fa-solid fa-book-open icon"></i>Books
            <% end %>
           </li>
           <li class="nav-item">
             <%= link_to destroy_user_session_path,  method: :delete do%>
            <i class="fa-solid fa-right-from-bracket icon"></i>Log out
            <% end %>
           </li>

          <% else %>
           <li class="nav-item">
             <%= link_to root_path class:"icon" do%>
           <i class="fa-solid fa-house icon"></i>Home
            <% end %>
           </li>
           <li class="nav-item">
              <%= link_to  about_path class:"icon" do%>
             <i class="fa-solid fa-link icon"></i>About
             <% end %>
           </li>
           <li class="nav-item">
              <%= link_to new_user_registration_path  class:"icon" do %>
             <i class="fa-solid fa-user-plus icon"></i>Sign up
             <% end %>
           </li>
           <li class="nav-item">
             <%= link_to new_user_session_path do %>
             <i class="fa-solid fa-right-to-bracket"></i>Log in
             <% end %>
           </li>
          <% end %>
          </ul>
        </header>

  </body>
    <div>
      <%= flash[:notice] %>
    </div>
    <%= yield %>

    <footer>
     <div class='container'>
    	<div class='row justify-content-center py-5'>
        	<h6>CopyRight Infratop.inc</h6>
    	</div>
     </div>
    </footer>

  </div>
</html>
